<h1>ブログを編集する</h1>
<div class="blogs_panel">
  <%= form_with(model: @blog, local:true) do |form|%>

    <div id="blog_title">
      <%= form.label :name%>
      <%= form.text_field :name%>
    </div>

    <div id="blog_title">
      <%= form.label :content%>
      <%= form.text_field :content%>
    </div>

    <div id="blog_title">
      <%= form.label :image%><br>
      <%= image_tag(@blog.image.url)if @blog.image.url%>
      <p><%= form.file_field :image%></p>
    </div>

    <%= form.submit%><br>
    <%= link_to 'ブログ一覧へ',blogs_path%>

  <% end %>
</div>
