<!DOCTYPE html>
<html>
  <head>
    <title>ExamBlog</title>
    <%= csrf_meta_tags %>

    <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>
  </head>
  <header><h1>みんなのブログ</h1></header>

  <nav class="navbar navbar-default">
    <div class="container-fluid">
      <div class="navbar-header">
        <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#blog_navi" aria-expanded="false">
          <span class="sr-only">Toggle navigation</span>
          <span class="icon-bar"></span>
          <span class="icon-bar"></span>
          <span class="icon-bar"></span>
        </button>
        <%= link_to "BLOGS",top_blogs_path,class: 'navbar-brand'%>
      </div>
      <div class="collapse navbar-collapse" id="blog_navi">
        <ul class="nav navbar-nav">
          <li><%= link_to 'BLOG LISTS',blogs_path%></li>
          <li><%= link_to 'NEW BLOG',new_blog_path%></li>
        </ul>
      </div>
    </div>
  </nav>

  <body>
    <div class="all">
      <div class="contain clearfix">
        <% flash.each do |key, value|%>
          <p><%= content_tag(:div, value, class: "#{key}")%></p>
        <% end%>
        <%= yield %>
      </div>
      <footer>
        <p>運営会社DIVE INTO CODE株式会社</p>
        <p>© 2015-2016 Copyright DIVE INTO CODE Corp.</p>
      </footer>
    </div>
  </body>
</html>
